@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Sacramento&family=Lobster&family=Noto+Sans+KR&display=swap');
/* font-family: 'Sacramento', cursive; 로고 글씨 */
/* font-family: 'Lobster', cursive; 메인 글씨 */
/* font-family: 'Noto Sans', sans-serif; 영문 기본 글씨 */
/* font-family: 'Noto Sans KR', sans-serif; 한글 기본 글씨 */
.row{ max-width: 1200px; margin:0px auto; padding: 0 10px;}
.article1, .article2, .article3, .article4 {font-family: 'Noto Sans', sans-serif;}


#header{
    position: fixed;
    width: 100%;
    height: 60px;
    left:0; top:0;
    color:#FF250F;
    background:#FAE4C9;
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid #FF250F;
    z-index: 99;
}
#header > div{ position: relative;}
#header .logo{
    font-size: 30px;
    margin-top: 15px;
}

#header .nav{
    position: absolute;
    bottom:8px; right: 0;
    font-size: 18px;
    letter-spacing: 1px;
}
#header .nav ul li{
    display:inline-block;
    padding-left: 50px;
}
#header .nav ul li:hover a{
    transition: all 0.3s;
}
#header .nav ul li:hover a{
    color: #fff;
}


/* main */
.article1{ 
    font-family: 'Lobster', cursive;
    background: #FAE4C9;
    background-size: cover;
    height: 100vh;
    color: #FF250F
}
.article1 .maintxt{
    font-size: 130px;
    position:absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
}
.article1 .maintxt h1{
    animation: pulse 2s both 0s infinite ease-in-out;
}
.article1 .maintxt p{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.subtxt h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #FF250F;
    font-family: 'Lobster', cursive;
    padding: 90px 0 50px;
}


/* About me */
.article2{
    padding-bottom: 70px;
}
.article2 .image{
    float: left;
    margin-left: 200px;
    margin-top: 45px;
    text-align: center;
    vertical-align: middle;
}
.article2 .image > p{
    width: 220px; height: 220px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 25px;
    border: 5px solid #ffc222;
}
.article2 ul{
    float:right;
    margin-right: 110px;
}
.article2 h3{
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0 15px;
    padding-left: 30px;
    color: #222;
    position: relative;
}
.article2 h3::before{
    content:'';
    width:13px; height: 13px;
    border:3px solid  #ffc222;
    border-radius: 50%;
    position: absolute;
    top:1px; left:0px;
}
.article2 .image div:nth-of-type(1) h3{
    padding-left:0;
}
.article2 .image div:nth-of-type(1) h3::before{
    border:none;
}
.article2 p{
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #666;    
}


/* Tool&Skill */
.article3{
    height: 100vh;
    background:#f9f8f6;
}
.article3 .skillcontainer{
    height: calc(100% - 180px);
    font-size: 18px;
    padding: 0 20px;
}
.article3 .skillcontainer > div{
    width: 100%; height: 13%;
    /* border: 1px solid #333; */
    position: relative;
}
.article3 .skillcontainer > div > p{
    position: absolute;
    left:0; top: 50%;
    transform: translateY(-50%);
    color: #222;
    font-weight: bold;
    padding-left: 30px;
}
.article3 .skillcontainer > div > p::before{
content:'';
width:13px; height: 13px;
border:3px solid #ffc222;
border-radius: 50%;
position: absolute;
top:1px; left:0;
}
.article3 .skillcontainer .score{
    width: calc(100% - 150px); height: 55%;
    background: #FAE4C9;
    position: absolute;
    left: 150px; top: 50%; 
    transform: translateY(-50%);
    border-radius: 50px;
    overflow: hidden;
}
.article3 .skillcontainer .score .myscore{
    height:100%;
    border-radius: 50px;
    background: linear-gradient(to right,#FAE4C9, #FF250F);
    font-family: 'Lobster', cursive;
}
.article3 .skillcontainer .score .myscore span{
    position: absolute;
    top:50%; right: 5%;
    transform: translateY(-50%);
    color: #fff;
}

.article3 .skillcontainer .illust .myscore{
    position: relative; 
    width:0;
    animation: illustani 1.5s both 0s;
}
.article3 .skillcontainer .photoshop .myscore{
    position: relative; 
    width:0;
    animation: photoshopani 1.5s both 0.2s;
}
.article3 .skillcontainer .rhino .myscore{
    position: relative; 
    width:0;
    animation: rhinoani 1.5s both 0.4s;
}
.article3 .skillcontainer .html .myscore{
    position: relative; 
    width:0;
    animation: htmlani 1.5s both 0.6s;
}
.article3 .skillcontainer .css .myscore{
    position: relative; 
    width:0;
    animation: cssani 1.5s both 0.8s;
}
.article3 .skillcontainer .java .myscore{
    position: relative; 
    width:0;
    animation: javaani 1.5s both 1.0s;
}
.article3 .skillcontainer .jquery .myscore{
    position: relative; 
    width:0;
    animation: jqueryani 1.5s both 1.2s;
}

@keyframes illustani{
    0%{width: 0; opacity: 0;}
    100%{width: 90%; opacity: 1;}
}
@keyframes photoshopani{
    0%{width: 0; opacity: 0;}
    100%{width: 80%; opacity: 1;}
}
@keyframes rhinoani{
    0%{width: 0; opacity: 0;}
    100%{width: 70%; opacity: 1;}
}
@keyframes htmlani{
    0%{width: 0; opacity: 0;}
    100%{width: 60%; opacity: 1;}
}
@keyframes cssani{
    0%{width: 0; opacity: 0;}
    100%{width: 50%; opacity: 1;}
}
@keyframes javaani{
    0%{width: 0; opacity: 0;}
    100%{width: 40%; opacity: 1;}
}
@keyframes jqueryani{
    0%{width: 0; opacity: 0;}
    100%{width: 30%; opacity: 1;}
}


/* Project */
.article4{
    background:#fdf1e4;
    height: 100vh;
}
.article4 ul{
    height: calc(100% - 180px);
}
.article4 li{ 
    float: left;
    width: 25%;
    height: 47%;
    overflow: hidden;
    padding: 20px 10px; 
}
.article4 ul li p{
    text-align: center;
    padding: 10px 0;
    background: #FF250F;
    color: #fff;
    font-family: 'Lobster', cursive;
    border-radius: 0 0 10px 10px;
}

/* contact me */
.article5 legend{
    display:none;
}
.article5{
    background: #FAE4C9;
    padding-bottom: 50px;
}
.form1{
    width:70%;
    /* border: 1px solid #ddd; */
    margin: 0 auto;
}
.form1 p{
    padding: 15px 0;
}
.form1 p:nth-of-type(4) label{
    vertical-align: top;
    margin-top: 5px;
}
.form1 p label{
    display: inline-block;
    width : 14%;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    position: relative;
    padding-left: 30px;
}
.form1 p label::before{
    content:'';
    width:13px; height: 13px;
    border:3px solid #ffc222;
    border-radius: 50%;
    position: absolute;
    top:1px; left:0px;
}
.form1 p input{
    border: none;
    background: #fff;
    border-radius: 50px;
    padding: 15px 15px;
    outline:none;
}
.form1 p textarea{
    width:84%; height: 150px;
    border:none;
    border-radius: 30px;
    padding: 20px 20px;
    resize: none;
    outline:none;
}
.form1 p:nth-of-type(5) input{
    background: none;
    border-radius: 0;
    padding-left: 5px;
}
#contact .form1 p:nth-of-type(6){
    text-align: center;
}
#contact .form1 p:nth-of-type(6) button{
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 5px;
    border-radius: 50px;
    color: #fff;
    border:0;
    outline: none;
    cursor: pointer;
}
#contact .form1 p:nth-of-type(6) button[type=submit]:hover{
    background:#ffc222;
}
#contact .form1 p:nth-of-type(6) button[type=reset]:hover{
    background: #ffc222;
}
#contact .form1 p:nth-of-type(6) button[type=submit]{
    background: #FF250F;
    transition: all 0.5s;
}
#contact .form1 p:nth-of-type(6) button[type=reset]{
    background: #FF250F;
    transition: all 0.5s;
}